*{
    margin: 0;
    padding: 0;
}
.title{
   margin-left: 540px;
}
.title img{
    width: 150px;
    margin-top: 14px;
}
.heading h1{
    margin-left: 487px;
    font-size: 30px;
    margin-top: 4px;
}
.row1{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    padding-bottom: 120px;
}
.suv h1{
    margin: 20px;
    margin-left: 58px;
}
.suv-col1 img{
    width: 350px;
    height: 55%;
    padding: 20px;
}
.suv-col2 img{
    width: 350px;
    height: 55%;
    padding: 20px;
}
.suv-col3 img{
    width: 350px;
    height: 55%;
    padding: 20px;
}
/* SUV Column1 */
.content1{
    /* background: red; */
    width: 90%;
    margin: auto;
}
.content1 h1{
    margin-top: -19px;
    margin-left: 135px;
}
.price1{
    margin-top: -14px;
    margin-left: 0px;
    width: 100%;
    background: rgba(218, 168, 168, 0.514);
    margin-bottom: -10px;
}
.price1 h2{
    margin-left: 95px;
}
.price1 p{
    margin-left: 64px;
}
.specs1{
    width: 100%;
    background: rgba(247, 247, 247, 0.979);
}
.specs1 h3{
    margin: 10px ;
}
.specs1 p{
    margin: 10px ;
}

/* SUV Column 2 */
.content2{
    /* background: red; */
    width: 90%;
    margin: auto;
}
.content2 h1{
    margin-top: -19px;
    margin-left: 135px;
}
.price2{
    margin-top: -14px;
    margin-left: 0px;
    width: 100%;
    background: rgba(218, 168, 168, 0.514);
    margin-bottom: -10px;
}
.price2 h2{
    margin-left: 72px;
}
.price2 p{
    margin-left: 64px;
}
.specs2{
    width: 100%;
    background: rgba(247, 247, 247, 0.979);
}
.specs2 h3{
    margin: 10px ;
}
.specs2 p{
    margin: 10px ;
}

/* SUV column3 */
.content3{
    /* background: red; */
    width: 90%;
    margin: auto;
}
.content3 h1{
    margin-top: -19px;
    margin-left: 135px;
}
.price3{
    margin-top: -14px;
    margin-left: 0px;
    width: 100%;
    background: rgba(218, 168, 168, 0.514);
    margin-bottom: -10px;
}
.price3 h2{
    margin-left: 72px;
}
.price3 p{
    margin-left: 64px;
}
.specs3{
    width: 100%;
    background: rgba(247, 247, 247, 0.979);
}
.specs3 h3{
    margin: 10px ;
}
.specs3 p{
    margin: 10px ;
}

/* Sedan */
.row2{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
}
.sedan h1{
    margin-top: 130px;
    margin-left: 58px;
}
.sedan-col1 img{
    width: 350px;
    height: 40%;
    padding: 20px;
}
.sedan-col2 img{
    width: 350px;
    height: 40%;
    padding: 20px;
}
.sedan-col3 img{
    width: 350px;
    height: 40%;
    padding: 20px;
}
/* SEDAN column1  */
.content1s{
    /* background: red; */
    width: 90%;
    margin: auto;
}
.content1s h1{
    margin-top: -19px;
    margin-left: 135px;
}