*{
    margin: 0;
    padding: 0;
}
.title{
   text-align: center;
}
.title img{
    width: 100px;
    margin-top: 14px;
}
.heading h1{
    text-align: center;
    font-size: 30px;
    margin-top: 4px;
}
.video{
    text-align: center;
    margin: 50px;
}
iframe{
    border-radius: 15px;
}
@media(min-width: 1720px){
    .title img{
        width: 180px;
        margin-top: 80px;
    }
    .heading h1{
        font-size: 50px;
        margin-top: 14px;
    }
    iframe{
        width: 750px;
        height: 500px;
    }
}

/* suv */
.row1{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-bottom: 120px;
}
.suv h1{
    margin: 20px;
    margin-left: 58px;
}
.suv-col1 img{
    width: 370px;
    height: 55%;
    padding: 20px;
}
.suv-col2 img{
    width: 370px;
    height: 55%;
    padding: 20px;
}
.suv-col3 img{
    width: 370px;
    height: 55%;
    padding: 20px;
}
@media(min-width: 1720px){
    .row1{
        width: 95%;
        margin-bottom: 200px;
    }
    .suv h1{
        font-size: 40px;
        margin: 50px;
        margin-top: 150px;
        margin-left: 58px;
    }
    .suv-col1 img{
        width: 550px;
        height: 60%;
        padding: 30px;
    }
    .suv-col2 img{
        width: 550px;
        height: 60%;
        padding: 30px;
    }
    .suv-col3 img{
        width: 550px;
        height: 60%;
        padding: 30px;
    }
}
/* SUV Column1 */
.content1{
    width: 90%;
    margin: auto;
}
.content1 h1{
    margin-top: -19px;
    margin-left: 135px;
}
.price1{
    margin-top: -14px;
    width: 100%;
    background: rgba(218, 168, 168, 0.514);
    margin-bottom: -10px;
}
.price1 h2{
    margin-left: 95px;
}
.price1 p{
    margin-left: 64px;
}
.specs1{
    width: 100%;
    background: rgba(247, 247, 247, 0.979);
}
.specs1 h3{
    margin: 10px ;
}
.specs1 p{
    margin: 10px ;
}
@media(min-width: 1720px){
    .content1 h1{
        margin-left: 205px;
        margin-bottom: 20px;
    }
    .price1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .price1 h2{
        margin-left: 5px;
        font-size: 40px;
    }
    .price1 p{
        margin-left: 0px;
        font-size: 20px;
    }
    .specs1{
        width: 100%;
        background: rgba(247, 247, 247, 0.979);
    }
    .specs1 h3{
        font-size: 25px ;
    }
    .specs1 p{
        margin: 10px ;
        font-size: 25px;
    }
}
/* SUV Column 2 */
.content2{
    /* background: red; */
    width: 90%;
    margin: auto;
}
.content2 h1{
    margin-top: -19px;
    margin-left: 135px;
}
.price2{
    margin-top: -14px;
    margin-left: 0px;
    width: 100%;
    background: rgba(218, 168, 168, 0.514);
    margin-bottom: -10px;
}
.price2 h2{
    margin-left: 72px;
}
.price2 p{
    margin-left: 64px;
}
.specs2{
    width: 100%;
    background: rgba(247, 247, 247, 0.979);
}
.specs2 h3{
    margin: 10px ;
}
.specs2 p{
    margin: 10px ;
}
@media(min-width: 1720px){
    .content2 h1{
        margin-left: 205px;
        margin-bottom: 20px;
    }
    .price2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .price2 h2{
        margin-left: 5px;
        font-size: 40px;
    }
    .price2 p{
        margin-left: 0px;
        font-size: 20px;
    }
    .specs2{
        width: 100%;
        background: rgba(247, 247, 247, 0.979);
    }
    .specs2 h3{
        font-size: 25px ;
    }
    .specs2 p{
        margin: 10px ;
        font-size: 25px;
    }
}

/* SUV column3 */
.content3{
    /* background: red; */
    width: 90%;
    margin: auto;
}
.content3 h1{
    margin-top: -19px;
    margin-left: 135px;
}
.price3{
    margin-top: -14px;
    margin-left: 0px;
    width: 100%;
    background: rgba(218, 168, 168, 0.514);
    margin-bottom: -10px;
}
.price3 h2{
    margin-left: 72px;
}
.price3 p{
    margin-left: 64px;
}
.specs3{
    width: 100%;
    background: rgba(247, 247, 247, 0.979);
}
.specs3 h3{
    margin: 10px ;
}
.specs3 p{
    margin: 10px ;
}
@media(min-width: 1720px){
    .content3 h1{
        margin-left: 205px;
        margin-bottom: 20px;
    }
    .price3{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .price3 h2{
        margin-left: 5px;
        font-size: 40px;
    }
    .price3 p{
        margin-left: 0px;
        font-size: 20px;
    }
    .specs3 h3{
        font-size: 25px ;
    }
    .specs3 p{
        margin: 10px ;
        font-size: 25px;
    }
}

/* Sedan */
.row2{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
.sedan h1{
    margin-top: 130px;
    margin-left: 58px;
}
@media(min-width: 1720px){
    .row2{
        width: 95%;
    }
    .sed h1{
        margin-top: 500px;
    }
}
/* SEDAN column1  */
.content1s{
    width: 90%;
    margin: auto;
}
.content1s h1{
    margin-top: -19px;
    margin-left: 135px;
}